.fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bgcolor);
    height: 100vh;
    width: 100%;
    color: rgb(252, 242, 242);
}

:root {
    --bgcolor: #1c1c1c;
    --accentcolor: #FFCC00;
}

.sorc {
    width: auto;
    max-height: 100px;
    height: 100px;
    border: 2px solid rgb(58, 53, 53);
    border-radius: 100%;
    margin-right: 10px;
}

html, body {
    height: 100%;
    margin: 0;
}

h1, h2 {
    margin: 10px 0;
    font-size: 2.2rem;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
}

.logos, .instagram {
    font-size: 2.2rem;
}

.logos a {
    background-color: var(--accentcolor); /* Adicione ponto e vírgula aqui */
    color: var(--bgcolor); /* Remova a vírgula extra aqui */
    width: 50%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: bold;
    border: solid 2px;
}

.logos a:hover{
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}
